# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Analyze

on:
  pull_request:
    branches: [ master, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Flutter
        uses: britannio/action-install-flutter@v1.1

      - name: Install dependencies
        run: flutter pub get

      - name: Install example dependencies
        run: cd example && flutter pub get

      - name: Generate localization files
        run: cd example && flutter gen-l10n

      - name: Formatting check
        run: dart format . --set-exit-if-changed

      - name: Analyse
        run: flutter analyze
