# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Build

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Flutter
        uses: britannio/action-install-flutter@v1.1
        
      - name: Install dependencies
        run: flutter pub get
        
      - name: Build Artifect
        run: cd example && flutter build web

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: example/build/web
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
